*{
    margin: 0;
    padding: o;
}
.mainclass{
    width: 100%;
    height: 800px;
    background: url(./wp2301613-anime-4k-wallpapers.jpg);
    BACKGROUND-SIZE:cover;
}
.head{
    width: 100;
    height: 100px;
    background-color: ivory;
    /* background: url(./wp2301613-anime-4k-wallpapers.jpgs); */
}
head{
    background-size: covers;
}
.icon img{
    width: 10%;
    height: 100px;
    float: left;
}
body{
    background-size: cover;
}
.link a{
    color: black;
    text-decoration: none;
    margin: 10px;
    border: 1px solid black;
    float: left;
    padding: 5px;
}
.link a:hover{
    background: burlywood;
}
h1{
    color: darksalmon;
    margin-left: 550px;
    margin-top: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 39px;

}
p{
    color: ghostwhite;
}
.login{
    color: beige;
    text-decoration: none;
    margin: 1px;
    border: 1px solid ivory;
    float: right;
    padding: 5px;
}

.courses{
    color: floralwhite;
    width: 23%;
    height: 7%;
    background-color: coral;
    padding: 5px;
    margin-bottom:15px;

}
.courses2{
    color: floralwhite;
    width: 23%;
    height: 50pxs;
    background-color: coral;
    padding: 5px;
    margin-top: -340px;
    margin-left: 350px;
}
.courses3{
    color: floralwhite;
    width: 23%;
    height: 50pxs;
    background-color: coral;
    padding: 5px;
    margin-top: -308px;
    margin-left: 685px;
}
.courses4{
    color: floralwhite;
    width: 23%;
    height: 50pxs;
    background-color: coral;
    padding: 5px;
    margin-top: -339px;
    margin-left: 1022px;
}
.footer{
    width: 100%;
    height: 50px;
    /* margin-bottom: 800px; */
    margin-top: 190px;
    background-color: lightsalmon;
}
footer{
    align-items: center;
}
footer h3{
    margin-left:45%;
    margin-bottom:0px;
}

